.modal {
  width: 100%;
  height: 100vh;
}

@media screen and (min-device-width: 1200px) {
  .modal-medium {
    max-width: 50rem;
    width: 50vh;
    height: 50vh;
  }

  .modal-small {
    max-width: 25rem;
    width: 25vh;
    height: 25vh;
  }
}
