@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  input,
  textarea {
    @apply form-control;
    @apply block w-full;
    @apply px-3 py-1.5 m-0;
    @apply text-base font-normal text-gray-700 bg-white bg-clip-padding;
    @apply border border-solid border-gray-300 rounded;
    @apply transition ease-in-out;
    @apply focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
}

@layer components {
  .btn {
    @apply bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150;
  }

  .link {
    @apply px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75 no-underline;
  }

  .text {
    @apply text-base leading-relaxed mt-0 mb-4 text-slate-800;
  }
}
